
*{
margin: 0;
padding: 0;
overflow: hidden;
}
thead{
font-weight: bolder;
color: rgb(255, 255, 255);
background-color: black;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
}
.spinner-border-holder{
display: flex;
justify-content: center;
align-items: center;
}
body{
width: 100svw;
height: 100svh;
}
header{
padding: 30px;
}
table{
padding: 20px;
}
